<div class="columns is-justify-content-center is-align-content-center full-height">
    <div class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">Auth Links</p>
            <ul class="menu-list">
                <li><a [routerLink]="['login']">Login</a></li>
                <li><a [routerLink]="['register']">Register</a></li>
                <li><a [routerLink]="['register']">Home</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">
        <app-login></app-login>
    </div>
</div>