<div class="container py-4">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/']">
                <img src="assets/img/fea75a86a96244eda757c74f0e8470a3.png" width="90" height="" />
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" [routerLink]="['/']"> Home </a>
                <a class="navbar-item" [routerLink]="['/profile']" *ngIf="this.authService.userToken">
          Profile
        </a>
            </div>
        </div>
        <div class="navbar-end" *ngIf="!this.authService.userToken">

            <a class="navbar-item" [routerLink]="['/auth/login']"> Login </a>
            <a class="navbar-item" [routerLink]="['/auth/register']"> Register </a>

        </div>
        <div class="navbar-end" *ngIf="this.authService.userToken">
            <button class="navbar-item button is-primary" (click)="this.authService.logOut()">
        <span class="has-text-weight-semibold">Log Out</span>
        <i class="ml-1 fas fa-sign-out-alt"></i>
      </button>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <!-- <figure class="image is-3by1">
        <img src="https://miro.medium.com/max/700/1*81vu4AylUrUj-Y50cJn_OQ.png">
    </figure> -->



    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                MY FIRST ANGULAR PROJECT by
                <a href="https://cs-women.com">CS-WOMEN.com</a>.
            </p>
        </div>
    </footer>
</div>